<!--
# Copyrights 2020,  Sankara Netralaya & BITS Pilani,
# Contact: sundaresan.raman@pilani.bits-pilani.ac.in
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- loads the path to your staticfiles -->
    {%  load static  %}
    <!--{{pid_imgfn}} -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <link rel="stylesheet" type="text/css" href="{% static 'users/main.css' %}">
    
    {% if title %}
    <title> {{ title }}</title>
    {% else %}
    <title>OPTUS Images Center Identification</title>
    {% endif %}

<style>
        .button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 25px;
            margin: 4px 2px;
            cursor: pointer;
        }

        .select-style {
            border: 1px solid #ccc;
            border-radius: 3px;
            font-size: 25px;
            color: white;
            padding: 15px 32px;
            text-align: center;
            overflow: hidden;
            background-color: #4CAF50;
        }

        .select-style select {
            padding: 5px 8px;
            width: 250%;
            border: none;
            box-shadow: none;
            background: transparent;
            background-image: none;
        }

        .select-style select:focus {
            outline: none;
        }

    </style>

    <script src = "/static/jquery.min.js">
    </script>
    <script>
    var pid_imgfn = "{{ pid_imgfn }}";
    var patient_id = "{{ patient_id }}";
    // var is_back = "{{ is_back }}"
    </script>

</head>

<body onload="draw();">
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
                <a class="navbar-brand mr-4" href="{% url 'retina:index' %}">Main Page</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <!-- Navbar Right Side -->
                    <div class="navbar-nav">
                        {% if user.is_authenticated %}
                        <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                        <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                        {% else %}
                        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                        <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </header>
<h1> Patient ID: <strong> {{ patient_id }} </strong> </h1>    
<!-- <h1> Link: <strong> {{ pid_imgfn }}  </strong> </h1> -->
<h1><p id = "od_text">Please Choose Optic Disk Center by clicking on the image: </p></h1>
    {% if patient_id  %}
        <form id="odform" action="{% url  'retina:last' %}"  method="post"  >
            {% csrf_token %}
            <canvas id="imgCanvas" width="1500" height="1500"  onclick="canvasClick()" style="border:1px solid #000000;"></canvas>
            <!--<img id="pimg" src = "{%  static pid_imgfn  %}" alt = "description" width="1016" height="1016">
            -->
        <div id="hidethis" class = mydiv>
            <!--<label for="my_x" >X: </label>-->
            <!-- <input type="hidden"  id="is_back" name="is_back" value = "0"> -->

                <!--<label for="my_x" >X: </label>-->
            <input type="hidden"  id="my_x" name="my_x" >
                <!-- <label for="my_y" >Y: </label> -->
            <input type="hidden" id="my_y" name="my_y" >

            <!--<label for="my_pidjs" >PidJs</label>-->
            <input type="hidden" id="my_pidjs" name="pid_imgfn"> <br><br>

            <!--<label for="my_patientid" >PatientId</label>-->
            <input type="hidden" id="my_patientid" name="patient_id"> <br><br>
        </div>

            <input type="submit" disabled class = "button" value = "Save" id="submitButton" >
        </form>
    {% else  %}
        <h2> There are no more patients/images!</h2>
    {% endif  %}
    <script>
        console.log(pid_imgfn);
        var canvas = document.getElementById("imgCanvas");
        var context = canvas.getContext("2d");
        var img_buffer = document.createElement('img');
        document.getElementById("my_pidjs").value = pid_imgfn;
        document.getElementById("my_patientid").value = patient_id;
        function draw() {
            img_buffer.onload = function() {
                //img_buffer.width = img_buffer.width/4;
                //img_buffer.height = img_buffer.height/4;
                imgWidth = img_buffer.width/4;
                imgHeight = img_buffer.height/4;
                canvas.width = imgWidth;
                canvas.height = imgHeight;
                context.drawImage(img_buffer, 0, 0, imgWidth, imgHeight);
            };
            
            var img_url = pid_imgfn.replace(/&amp;/g, '&');
            img_buffer.src = img_url;
            console.log(pid_imgfn);
        }
        // Mouse Position
        canvas.addEventListener("click", function (evt) {
            //Enable the save button
            document.getElementById("submitButton").removeAttribute("disabled");
            //Clear the previous rendering by drawCoordAxis() by reloading the imgbuffer
            context.drawImage(img_buffer, 0, 0, canvas.width, canvas.height);
            var mousePos = getMousePos(canvas, evt);
            x = Math.round(mousePos.x).toString();
            y = Math.round(mousePos.y).toString();
            document.getElementById("my_x").value = Math.round(mousePos.x).toString();
            document.getElementById("my_y").value = Math.round(mousePos.y).toString();
            document.getElementById("my_pidjs").value = pid_imgfn;
            document.getElementById("my_patientid").value = patient_id;
            drawCoordAxis(x,y);

        }, false);

        //Get Mouse Position
        function getMousePos(canvas, evt) {
            var rect = canvas.getBoundingClientRect();
            return {
                        x: evt.clientX - rect.left,
                        y: evt.clientY - rect.top
                    };
        }
        function drawCoordAxis(x,y){
            var pointSize = 3; // Change according to the size of the point.
            var ctx = context;
            ctx.fillStyle = "#ff2626"; // Red color
            ctx.beginPath(); //Start path
            // Draw a point using the arc function of the canvas with a point structure.
            ctx.arc(x, y, pointSize, 0, Math.PI * 2, true);
            ctx.fill(); // Close the path and fill.
            // Now draw major and minor axes
            ctx.strokeStyle = "#2626ff"; // Red color
            ctx.beginPath();
            ctx.moveTo(x,0);
            ctx.lineTo(x, canvas.height);
            ctx.stroke();
            ctx.beginPath();
            ctx.moveTo(0,y);
            ctx.lineTo(canvas.width,y);
            ctx.stroke();
        }

        function canvasClick(){
        }

    </script>

    <script>
        //$(document).ready(function(){
        //    $("#hideme").hide();
        // });
    </script>
</body>
</html>